/*input style*/

/* form{
    width: 70%;
    margin: 10px auto;
} */
.signin-form{
    width: 400px;
    margin: 0 auto;
}
@media screen and (max-width: 767px){
    .signin-form{
        width: 90%;
        margin: 0 auto;
    }
}
a{
    color:#FF6D00;
}
.form-control{
    border-radius: none;
}
.form-group {
    margin: 2rem 0;
}
.signup-link{
    text-align: center;
    margin-top: 1rem;
}
.login-link{
    margin-top: 1rem;
   
}
.login-link a,
.signup-link a{
    color: #ff6600;
}

.rule{
    width:100px;
    background: rgb(252, 138, 57);
    height: 1px;

}
/* TopNav*/
.top-menu{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5f2ed;
    padding: 4px 0;
    height: 32px;

}
.left-item{
    color:#ff6600;
}
.right-item li{
    padding-left: 0.8em;
}
.top-menu .btn-search{
    background-color: transparent;
    border: 0px;
    color: #ff6600;
    font-size: 15px;
}
.top-menu .btn-search:active,
.top-menu .btn-search:focus{
    outline: none;
}

.top-menu .search{
    color:#ff6600;
}

.top-menu .search input[type=text]{
    background-color: transparent;
    border-radius: 0px;
    border:0;
    border-bottom: 1px solid #ff9c00;
    height: 22px;
    width: 0px;
    color: #000;
    font-size: 11px;
    padding: 0px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.top-menu .search:hover input[type=text], 
.top-menu .search input[type=text]:active, 
.top-menu .search input[type=text]:focus {
    width:200px;
}
.top-menu .btn{
    background-color: #fff;
    color:#ff6600;
    height: 25px;
    padding: 0 8px;
    overflow:hidden;
}
.btn-xs{
    font-size: 13px;
    padding: 6px 8px;
}
@media screen and (max-width: 768px){
    .mini-nav{
        display: none;
    }
}
/*Main NAV*/
.navbar a{
    color: black;
    text-decoration: none;
}
.navbar{
    color:#000;
}
.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
   
}

.link:hover::after {
    width: 100%;
    transition: width .3s;
}
/*navbrand logo*/
.kblogo{
    width: 150px;
    height: 64px;
}
.carousel-item > img{
    width:100%;
}
.carousel-control-prev, .carousel-control-next {
    cursor: pointer;
}

/*SEARCHBAR*/
.full-searchbar{
    width: 100%;
    border: 1px solid #FF6D00;
    padding: 3px;
    height: 3em;
    background: #FF6D00
}
#input{
    background: #FF6D00;
    width: 68%;
    left: 12em;
    position: absolute;
    border: none;
    height: 3em;
    color: #fff;
}
#input::placeholder{
    color: #fff;
    font-size: 1.5em;
    font-family: FontAwesome;
}

#search{
    color:white;
    border:none; 
    height: 4em;
    background:#ff6600;
    font-size: 1.5em;
    padding-bottom:50px ;
    padding-left: 55px;
    float: right;
  
   
}
@media screen and (max-width: 760px){
    #searchform{
        display: none;
    }
}


/*landing*/
.landing{
    position: relative;
    text-align: center;

}
.jumbotron{
    height:100vh;
    width:100%;
    /* background: url('images/banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

/*content of the jumbotron*/
.content{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content h2{
    font-size: 72px;
    font-weight: 400;
    line-height: 0.5;
    white-space: nowrap;
}
.content h3 {
    font-size: 52px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
}
/* tiny cards on the jumbotron*/
.box{
	display: inline-block;
	margin: 10px;
	background-color: #1a1a1a !important;
	position: absolute;
	top: -180px;
	left: 70px; 

	align-content: center;
 }
 .box-text{
	 color: #fff
 }
.box img{
	width: 72px;
	height: auto;
}
.card-link img,
.solution-library img{
	width: 10px;
	height: 10px;
}
.card-link{
	float: right;
	color: #ff6600
}
.arrows img{
	width: 40px;
	height: 40px;
	
}
.arrows{
	float: right;
}

@media screen and(max-width:760px){
.box{
	position: relative;
	top: auto;
	left: auto;
    display: none;
    width: 18rem;
}
}
@media only screen and (max-width: 575px)
{
    .content
	{
		padding-top: 17px;
	    padding-bottom: 11px;
	    padding-left: 22px;
	    padding-right: 24px;
	}
	.content h2
	{
		font-size: 30px;
    }
    .content h3{
        font-size: 18px;
    }
}

@media only screen and (max-width: 479px){
 
}
@media only screen and (min-width: 768px)
and (max-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2){
   
} 
@media screen and (min-width:320px) and (max-width: 800px){
    
   
}
@media only screen and (min-width: 1200px)
and (max-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1){
    
} 
@media only screen and (min-width: 375px) and (max-width: 667px){
   
}

/*cards*/
/*****/
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box ul{
	position: absolute;
	z-index: 2;
	bottom: 150px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box ul i{
	font-size: 20px;
	letter-spacing: 10px;
}
.img-box ul li{
	width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #88C425;
    margin: 2px;
    padding: 5px;
	display: inline-block;
}
.img-box a{
	color:#fff;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover ul{
	opacity: 1;
}
.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li{
	border-color: #fff;
	color: #88C425;
}
a{
    color:#88C425;
}
a:hover{
    text-decoration:none;
    color:#519548;
}
i.red{
    color:#BC0213;
}

.trainers-entry {
    z-index: 0; 
}
    @media screen and (max-width: 768px) {
      .trainers-entry {
        margin-bottom: 30px;
    } 
    .trainers-entry .desc{
       
    }
    }
.trainers-entry .professor {
    display: block;
    height: 300px;
    z-index: -1; 
    width: 255px;
}
.trainers-entry .desc {
    background: #429FFD;
    padding: 1.4em;
    width: 255px;
    margin-top: -15px;
    margin-bottom: 10px; 
    text-align: center; 
    overflow: hidden;
}
.trainers-entry .desc h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}
.trainers-entry .desc span {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7); 
}
.prof-header h2{
    color: #333;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 25px 0 50px;

}
.prof-header h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 ;
	height: 1.5px;
	background: #ff6600;
	left: 0;
	right: 0;
	bottom: -10px;
}

/*******SOLUTION AND PUBLIC FORUM***/
#solution{
    margin-top: 10px;
    /* background: url("images/laptop.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .7;
    color: #000;*/
}
 
#solution .title{
	margin-left: 50px;
	}
 ol .solution-link,
.forum ul{
	list-style-type: none;
}
.solution-library{
	color: #ff6600;
	
}
#solution h3::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 1.5px;
	background: #ff6600;
	left: 0;
	right: 75%;
	bottom: -10px;
}
#solution h3 {
	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 25px 0 50px;
}
/*****FOOTER ***/
.subscribe{
    background: #000 !important;
    color:white;
    border-radius: 5px;
    width: 150px;
    height: 35px;
}


.helpful-links{
	overflow: hidden;

}
/* .helpful-links div{
	min
} */
#link-one {

	float:left; 
	margin-right:20px;
	width:140px;
	
  }
  #link-two { 
	
	margin:25px  10px 5px 10px;
	
	min-height:170px;
  }
  .footer-body h6{
      font-weight: bold;
  }
 
  
  @media screen and (max-width: 400px) {
	 #link-one { 
	  float: none;
	  margin-right:0;
	  width:auto;
	  border:0;
	 }
  }
  .newsletter{
    margin-top: 10px;
  }
  .news{
	  float: left;
	  clear: left;
  }
  .newsbar,
  .bottom-footer{
	  background: #e6e4e5;
	  color: #000;
  }
  .footer{
	  background: #f5f2ed;
	  color: #000;
  }
  #link-one a,
  #link-two a{
	  color: #000;
  }

  /******SIGNUP PAGE**********/
  /****HEADER****/
  #header {
    /* background: url('images/event-single.jpg');
    background-repeat: no-repeat;
    background-position: contain;
    background-size: cover; */
    height: 300px;

}
#register,
#signin-section{
    background: #ccc;
  
}
/***student or teacher**/
.square{
    border: 1px solid #fff;
    background-color: #fff;
    width: 100px;
    margin: 0 auto;
    height: 100px;

}
.img-text{
    text-align: justify;
    padding: 10px;
}
@media screen and (max-width: 320px){
    .square{
        margin-bottom: 30px;

    }
    .img-text{
        padding: 10px;
    }
}
/***social buttons***/
.btn-social{
    position:relative;
    padding-left:44px;
    text-align:center;
    /* white-space:nowrap;
    overflow:hidden;*/
    text-overflow:ellipsis;
    }
.btn-social :first-child{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:32px;
    line-height:34px;
    font-size:1.6em;
    text-align:center;
    border-right:1.3px solid #e6e4e5;
}

.btn-facebook{
    background-color:#3b5998;
    color: #fff;
    border-color:rgba(0,0,0,0.2);
}

.btn-google-plus{
    color:#fff;
    background-color:#dd4b39;
    border-color:rgba(0,0,0,0.2)
    }

.btn{
    color: white !important;
}
.fcbk,
.google{
    width: 200px;
}

@media screen and (max-width: 700px){
    .btn{
        margin-bottom: 10px;
        width: 200px;
        text-align: center;
        margin-left: -15px;
    }
}